<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Unit converter</title>

  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

  <h1>Pretvori milje v kilometre ali obratno</h1>

  <form action="/convert" method="post">
    Vnesi število kilometrov ali milj: <input type="number" name="amount" /> </br>

    <button type="submit" name="operation" value="MtoKM">Milje v kilometre</button>
    <button type="submit" name="operation" value="KMtoM">Kilometri v milje</button>

  </form>

</body>
</html>
